@media (max-width: 576px){
    .nav-links {
        position: fixed;
        top: 90px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
nav ul li{
   margin: 40px 0; 

}
.nav-links li a {
    font-size: 22px;
    display: block;
    background: none;
}
.nav-links li a:hover {
    color: cyan;
    background: none;
}
nav .menu-btn i{
    display: block;
}
.hero {
    width: 100%;
    flex-direction: column;
    /* display: block; */
    background: fixed;
    text-align: center;
    padding:5px;
    /* background-color: aqua; */
}
.cta-buttons{
    flex-direction: column;
}
/* .hero-content{
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
}
.hero-image{
    width: 50%;
    height: auto;
} */
.habits{
    margin-left: -1px;
    background-color: #000000;
    margin-top: 487px;
    width: 100%;
    /* flex-direction: column; */
    padding: 5px;
}

.fitness2{
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.run{
    height: auto;
    width: 80%;
    flex-direction: column;
}
.container{
    width: 100%;
    flex-direction: column;
}
.bmi-chart{
    width: 80%;
}
.bmi-calculator{
    width: 80%;
}
.last {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px 10px;
}

.last-p1, .last-p2, .last-p3 {
    width: 100%;
    text-align: center;
}

.last-p1 h1 {
    font-size: 30px;
    margin-top: 20px;
}

.last-p1 h6 {
    font-size: 12px;
    margin-top: 10px;
}

.last-p2 h2, .last-p3 h2 {
    font-size: 20px;
    margin-top: 20px;
}

.last-btn {
    width: 100%;
    margin-top: 20px;
}

}